@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');




html,body{
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.header{
	text-align: center;
	font-size: 1rem;
	height: 45px;
	background-color: #040509;
}


.footer{
	background-color: #FF9900;
	text-align: center;
	font-size: 1.2rem;
	height: 100px;
}

.autores{
	display: flex;
	justify-content: space-around;
	
}

.body{
	min-height: calc(100vh - 250px);
}

.flex-container{
	display:flex;
	flex-flow: row wrap;
}

.container1{
	display:flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
}

.container2{
	display:flex;
	flex-flow: row wrap;
	flex: 90%;
}
.imagen-mundo{
	background-image: url("../images/mundo.png");
	background-position: center;
	background-size: cover;
	width: 45px;
	height: 45px;
}

.link{
	text-decoration: none;
	color: white; 
}

.link1{
	display:flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
	border-bottom: solid 2px white;
}

.link2{
	display:flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
	border-bottom: solid 2px white;
}

.espacio{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	flex: 40%;
	padding-left: 40px;
}

.link3{
	display:flex;
	justify-content: center;
	align-items: center;
	flex:10%;
}

.ini-sesion{
	display:flex;
	justify-content: center;
	align-items: center;
	width:80%;
	height:70%;
	background-color: #2A68B2;
	border-radius: 15px;
}

.ini-sesion:hover{
	box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.reporte{
	display: block;
	margin: auto;
	/*background-color: black;
	width: 600px;
	height: 450px; */
}

.imagenMundo{
	background-image: url("../images/mundo.gif");
	background-position: center;
	background-size: cover;
	height: 924px;
	
}
.contenido{
	display: flex;
	flex-direction: column;
}

.contenido-texto{
	display: flex;
	flex-flow: row wrap;
}

.fotos{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	flex: 30%;
	height: 50vh;
}

.texto{
	flex: 70%;
	background-color: orange;
}

.imagen1{
	width: 160px;
	height: 160px;
	background-image: url("../images/cohete.png");
	background-position: center;
	background-size: cover;
}

.imagen2{
	width: 160px;
	height: 160px;
	background-image: url("../images/foco.png");
	background-position: center;
	background-size: cover;
}

.contenido-link{
	display:flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/github.png");
	background-position: center;
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-color: gray;
	height: 200px;
}

.github{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #2A68B2;
	border-radius: 15px;
	height: 40px;
	width: 140px;
	
	margin-right: 10px;
	
}

.github>a{
	color: white;
	text-decoration: none;
}

.imagen-autor{
	height: 300px;
	width: 200px;
}
