@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap')
	;

html, body {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.header {
	text-align: center;
	font-size: 1rem;
	height: 45px;
	background-color: #040509;
}

.footer {
	background-color: #FF9900;
	text-align: center;
	font-size: 1.2rem;
	height: 100px;
}

.autores {
	display: flex;
	justify-content: space-around;
}
.autoresEN{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.body {
	min-height: calc(100vh - 100px);
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
}

.container2 {
	display: flex;
	flex-flow: row wrap;
	flex: 90%;
}

.imagen-mundo {
	background-image: url("../images/mundo.png");
	background-position: center;
	background-size: cover;
	width: 45px;
	height: 45px;
}

.imagen-logo {
	background-image: url("../images/logodw.png");
	background-position: center;
	background-size: cover;
	width: 130px;
	height: 80px;
}

.link {
	text-decoration: none;
	color: white;
}

.link1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
	border-bottom: solid 2px white;
}

.link2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
	border-bottom: solid 2px white;
}

.espacio {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 40%;
	padding-left: 40px;
}

.link3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 10%;
}

.ini-sesion {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 70%;
	background-color: #2A68B2;
	border-radius: 15px;
}

.ini-sesion:hover {
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0
		rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.reporte {
	display: block;
	margin: auto;
	/*background-color: black;
	width: 600px;
	height: 450px; */
}

.imagenMundo {
	background-image: url("../images/mundo.gif");
	background-position: center;
	background-size: cover;
	height: 924px;
}

.contenido {
	display: flex;
	flex-direction: column;
}

.contenido-texto {
	display: flex;
	flex-flow: row wrap;
}

.fotos {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	flex: 30%;
	height: 50vh;
}

.texto {
	flex: 70%;
	background-color: rgba(255,165,0,0.62);
}

.imagen1 {
	width: 160px;
	height: 160px;
	background-image: url("../images/cohete.png");
	background-position: center;
	background-size: cover;
}

.imagen2 {
	width: 160px;
	height: 160px;
	background-image: url("../images/foco.png");
	background-position: center;
	background-size: cover;
}

.contenido-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/github.png");
	background-position: center;
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-color: gray;
	height: 200px;
}

.github {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2A68B2;
	border-radius: 15px;
	height: 40px;
	width: 140px;
	margin-right: 10px;
}

.github>a {
	color: white;
	text-decoration: none;
}

.imagen-autor {
	height: 300px;
	width: 200px;
}

.imagen-404 {
	background-image: url("../images/error404.png");
	background-position: center;
	background-size: cover;
	height: 924px;
}

.imagen-admin {
	background-image: url("../images/adminFondo.png");
	background-position: center;
	background-size: cover;
	/* height: 930px; */
	min-height: calc(130vh - 100px);
}

.imagen-operador {
	background-image: url("../images/operadorFondo.png");
	background-position: center;
	background-size: cover;
	/* height: 930px; */
	min-height: calc(100vh - 100px);
}

.boton {
	text-decoration: none;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	background-color: #1883ba;
	border-radius: 6px;
	border: 2px solid #0016b0;
}

.boton:hover {
	color: #1883ba;
	background-color: #ffffff;
}

.formulario {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	/* background-color: gray; */
	
}

.fondo{
	background-color: rgba(5,46,77,0.6);
	padding: 55px 60px;
	border-radius: 10px;
}

.fondoT{
	background-color: rgba(5,46,77,0.6);
	padding: 20px 10px;
	border-radius: 10px;
	text-align: center;
	font: 100% sans-serif;
	
}

.fondoT .autoresEN>h1{
	color: white;
}


.p-d-block{
	color: white;
}
.aler{
	color: orange;
	font: 100% sans-serif;
}

.mss_eme{
	text-align: right;
	font-style: oblique;
	font-weight: 800;	
}

.link-log{
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	margin-right: 10px;	
	margin-left: 10px;
	color: white;
	font-weight: 900;
}

.link-log:hover {
	text-shadow: 2px 2px 5px red;	
}

table tbody .ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #FFFFFF;
    color: #333333;
}


.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}



